<!Doctype html>
    <html>
        <head>
            <title>Математический Блог</title>
        </head>
        <body>
            <h1>
                Математический Блог
            </h1>
            <p>
                Добро пожаловать на сайт, посвященный математике, физике,<br>
                и новостям науки.
            </p>
            <div>
                <h2><ins>Меню</ins></h2>
                <a href = >Новости</a><br>
                <a href = >Математическая игра</a><br>
                <a href = >Регистрация</a>
            </div>
        </body>
    </html>